
.disabled {
  font-family: Rostelecom Basis;
  font-style: normal;
  font-feature-settings: 'tnum' on,'lnum' on;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  margin-left: 12px;
  color: black;
}
